PackageInstaller/Web References/TdsPackageInstaller/tdspackageinstaller.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://hhogdev.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://hhogdev.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://hhogdev.com/">
      <s:element name="InstallPackage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InstallPackageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InstallPackageResult" type="tns:InstallationSummary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InstallationSummary">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Errors" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Warnings" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Entries" type="tns:ArrayOfInstallationEntry" />
          <s:element minOccurs="1" maxOccurs="1" name="Collisions" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInstallationEntry">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InstallationEntry" nillable="true" type="tns:InstallationEntry" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InstallationEntry">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Level" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UserCredentials" type="tns:UserCredentials" />
      <s:complexType name="UserCredentials">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="InstallPackageSilently">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InstallPackageSilentlyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InstallPackageSilentlyResult" type="tns:InstallationSummary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InstallPackageSoapIn">
    <wsdl:part name="parameters" element="tns:InstallPackage" />
  </wsdl:message>
  <wsdl:message name="InstallPackageSoapOut">
    <wsdl:part name="parameters" element="tns:InstallPackageResponse" />
  </wsdl:message>
  <wsdl:message name="InstallPackageUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="InstallPackageSilentlySoapIn">
    <wsdl:part name="parameters" element="tns:InstallPackageSilently" />
  </wsdl:message>
  <wsdl:message name="InstallPackageSilentlySoapOut">
    <wsdl:part name="parameters" element="tns:InstallPackageSilentlyResponse" />
  </wsdl:message>
  <wsdl:message name="InstallPackageSilentlyUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:portType name="TdsPackageInstallerSoap">
    <wsdl:operation name="InstallPackage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Installs a Sitecore Update Package.</wsdl:documentation>
      <wsdl:input message="tns:InstallPackageSoapIn" />
      <wsdl:output message="tns:InstallPackageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InstallPackageSilently">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Installs a Sitecore Update Package.</wsdl:documentation>
      <wsdl:input message="tns:InstallPackageSilentlySoapIn" />
      <wsdl:output message="tns:InstallPackageSilentlySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TdsPackageInstallerSoap" type="tns:TdsPackageInstallerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InstallPackage">
      <soap:operation soapAction="http://hhogdev.com/InstallPackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:InstallPackageUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InstallPackageSilently">
      <soap:operation soapAction="http://hhogdev.com/InstallPackageSilently" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:InstallPackageSilentlyUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TdsPackageInstallerSoap12" type="tns:TdsPackageInstallerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InstallPackage">
      <soap12:operation soapAction="http://hhogdev.com/InstallPackage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:InstallPackageUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InstallPackageSilently">
      <soap12:operation soapAction="http://hhogdev.com/InstallPackageSilently" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:InstallPackageSilentlyUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TdsPackageInstaller">
    <wsdl:port name="TdsPackageInstallerSoap" binding="tns:TdsPackageInstallerSoap">
      <soap:address location="http://seeds.dev/_DEV/TdsPackageInstaller.asmx" />
    </wsdl:port>
    <wsdl:port name="TdsPackageInstallerSoap12" binding="tns:TdsPackageInstallerSoap12">
      <soap12:address location="http://seeds.dev/_DEV/TdsPackageInstaller.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>